.tex {
    font-size: 24px;
}

.text-low {
    vertical-align: -6px;
}


.android-shadow {
    width: 100px;
    height: 100px;
    background: url("img/1.jpg");
    background-size: cover;
    box-shadow: 0 0 10px inset;
}


.asuan-text {
    font: 14px/1.4 Arial, sans-serif;
}


.pep {
    background: #ED1C24;
    min-height: 100px;
    font: 60px Impact, sans-serif;
    color: #fff;
    padding-left: 80px;
    position: relative;
}

.pep span {
    position: absolute;
    bottom: -13px;
}


.titles {
    background: #dedeca;
}

.titles-1 {
    color: #673300;
    font-size: 40px;
}

.titles-3 {
    color: #9a6633;
}

.titles-link {
    color: #9a6633;
}


.xml-1-body {
    font: 0.8em Arial, sans-serif;
    background: #D7E1F1;
}

.xml-1-link {
    color: #008BCE;
}

.xml-1-container {
    width: 500px;
    margin: 0 auto;
    background: #FCE600;
}

.xml-1-header {
    font-size: 2.2em;
    text-align: center;
    padding: 5px;
    background: #D71920;
}

.xml-1-aside, .xml-1-nav {
    float: left;
    width: 110px;
    padding: 5px;
}

.xml-1-main {
    background: #54B948;
    margin: 0 120px;
    padding: 10px;
}

.xml-1-aside {
    float: right; 
    color: #000;
}

.xml-1-footer {
    clear: both;
    padding: 5px;
    background: #D71920;
}


.xml-2-body {
    font: 10pt Arial, sans-serif;
    background: #fff;
    margin: 0;
}

.xml-2-h2 {
    font-size: 1.1em;
    color: #752641;
    margin-bottom: 0;
}

.xml-2-container {
    width: 500px;
    margin: 0 auto;
    position: relative;
}

.xml-2-header {
    background: #8fa09b;
    font-size: 28pt;
    font-weight: bold;
    color: #edeed6;
    padding: 5px;
}

.xml-2-main {
    margin-right: 130px;
    padding: 10px;
    border-right: 1px dashed #183533;
}

.xml-2-main p {
    margin-top: 0.3em;
}

.xml-2-aside {
    position: absolute;
    right: 0;
    top: 60px;
    width: 120px;
}

.xml-2-footer {
    background: #8fa09b;
    color: #fff;
    padding: 5px;
}


.block-h1 {
    background: #569099;
    padding: 10px;
    color: #fff;
    margin: 0;
}

.block-p {
    background: #cad8d0;
    padding: 10px;
    margin: 0;
}

.search-1:focus {
    color: red;
}



.color-link-fon {
    background: #333333;
    padding: 10px;
}

.color-link-1 {
    color: #ff0000;
}

.color-link-2 {
    color: #00ffff;
    border-left: 1px solid #fff;
    padding-left: 4px;
}

.color-link-3 {
    color: #ffff00;
    border-left: 1px solid #fff;
    padding-left: 4px;
}

