*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: url("img/AdobeStock_280148808.jpeg") no-repeat;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.4;
}

h1 {
    font-weight: 400;
    color: white;
    line-height: 1.1;
    text-align: center;
    margin-top: 70px;
}

#description {
    color: #fff;
    text-align: center;
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

#survey-form {
    width: 750px;
    text-align: center;
    margin: 50px auto;
    background: rgba(27, 27, 50, 0.8);;
    color: white;
    padding-top: 25px;
    border-radius: 5px;
    padding-bottom: 50px;
}

.item-form {
    padding: 0 30px;
    margin-top: 15px;
}

.input-control {
    display: block;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    padding-left: 10px;
    border-radius: 4px;
}

label {
    display: flex;
    margin-top: 5px;
}

.input-radio,
.input-checkbox {
    display: flex;
}

.label-title {
    margin-top: 30px;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 10px;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    background: green;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}