* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

.container {
    padding: 0 calc(50% - 490px);
}

#header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background: #fff;
}

#header-img {
    width: 50px;
    height: 50px;
}

#nav-bar {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

ul> li {
    font-size: 1.5rem;
    margin-left: 50px;
}

ul>li>a {
    text-decoration: none;
    color: black;
}

.test {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
}

.test h1 {
    font-size: 1.8rem;
}

.test-input {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 25px;
    padding-left: 5px;
    margin-top: 10px;
}

#submit {
    margin-top: 10px;
    padding: 5px 30px;
    background: chartreuse;
    border: none;
}

.services-conteiner {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.icon {
    width: 70px;
    display: flex;
    align-items: center;
}

.icon-items {
    font-size: 2.8rem;
    color: chartreuse;
}

.description {
    margin-left: 60px;
}

.description-title {
    font-size: 1.9rem;
    font-weight: bold;
}

.description-text {
    font-size: 1.2rem;
}

.video-section {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#video {
    width: 600px;
}

.price-conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}

.price-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 2px;
    width: 300px;
    height: 400px;
}

.price-title {
    font-size: 1.2rem;
    background: #ddd;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.price-price {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.price-value {
    font-size: 1.2rem;
    line-height: 1.9;
}

.btn {
    display: block;
    text-decoration: none;
    background: chartreuse;
    padding: 10px 40px;
    font-size: 1.3rem;
    margin-top: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: darkcyan;
    color: #fff;
    font-size: 1.1rem;
}

@media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }

