.border-form {
    width: 500px;
    margin: 0 auto;
    background: #E1E3B8;
}

.border-form-legend {
    font-weight: bold;
    font-size: 1.1em;
    color: #A35D43;
}

.button{
    display: block;
    background-color: #B98F5C;
    color: white;
    border: 1px solid white;
}

.border-form-main {
    padding-left: 150px;
}


.double-border {
    margin: 0 auto;
    width: 300px;
    height: 100px;
    background: #f9f1a8;
}

.double-border-h3 {
    background: #fff;
    display: inline-block;
    padding: 10px;
    margin: 27px 0px 0 90px;
    border: 3px solid #E9B700;
    box-shadow: inset 3px 3px 0 0 #EB7223,
    3px 0 0 0 #EB7223,
    0 3px 0 0 #EB7223,
    3px 3px 0 0 #EB7223;
}


